<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
	<meta charset="UTF-8">
	<title th:text="' Spring Boot: MVC + Thymeleaf + Data JPA' + ${titulo}"></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

			<a class="navbar-brand" href="#">spring Boot</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/listar}">Cliente</a></li>
				</ul>
				<ul class="navbar-nav navbar-right">
					<li><a sec:authorize="!isAuthenticated()" class="btn btn-outline-primary" th:href="@{/login}">Sign
							In</a></li>
					<li sec:authorize="isAuthenticated()" class="dropdown show">
						<a class="btn btn-outline-primary dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<span sec:authentication="name"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form id="logoutForm" th:action="@{/logout}" method="POST">
								<button class="dropdown-item mr-4"
									onclick="document.getElementById('logoutForm').submit();" type="submit">Sign
									Out</button>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
							</form>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav navbar-right mx-4">
					<li class="nav-item mx-1"><a class="btn btn-outline-success" th:href="@{/locale(lang=es_ES)}">ES</a></li>
					<li class="nav-item mx-1"><a class="btn btn-outline-success" th:href="@{/locale(lang=en_US)}">EN</a></li>
					<li class="nav-item mx-1"><a class="btn btn-outline-success" th:href="@{/locale(lang=de_DE)}">DE</a></li>
					<li class="nav-item dropdown show mx-2">
						<a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false" id="dropdownLenguaje">
							<span th:text="#{text.locale.lenguaje}"></span></a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" th:href="@{/locale(lang=es_ES)}" th:text="#{text.locale.es}">ES</a>
								<a class="dropdown-item" th:href="@{/locale(lang=en_US)}" th:text="#{text.locale.en}">EN</a>
								<a class="dropdown-item" th:href="@{/locale(lang=de_DE)}" th:text="#{text.locale.de}">DE</a>
							</div>
					</li>
				</ul>
			</div>
		</nav>
		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
	</header>
	<div class="container"></div>
	<footer th:fragment="footer" class="container">
		<hr />
		<img alt="Spring logo" th:src="@{/images/spring.png}" style="width: 20%">
		<p sec:authorize="isAuthenticated()">
			Usuario logeado: <span sec:authentication="name"></span> | Roles: <span
				sec:authentication="principal.authorities"></span>
		</p>
		<p>
			Powered by <a href="http://projects.spring.io/spring-boot/">Spring
				Boot</a> y <a href="http://www.thymeleaf.org">Thymeleaf</a>
		</p>
		<p>Este proyecto fue desarrollado en IDE Eclipse + Spring Plugins
			(STS Spring Tools), Luis Alvarado</p>
		<script th:src="@{/js/jquery-3.6.2.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
</body>

</html>